* {
    box-sizing: border-box;
  }

header {
    background-color: grey;
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

nav {
    float: left;
    width: 70%;
    height: 300px;
    background-color: #ccc;
    padding: 20px;
}

article {
    float: left;
    width: 30%;
    height: 300px;
    background-color: #ccd;
    padding: 20px;
}
