body {
    margin: 0px;
    padding: 10px;
    background-image: linear-gradient(
        to top, #ffda77, #ffa45b);
}

#count, #lines {
    margin: 5px;
    padding: 7px;
}

#start, #reset {
    margin: 5px;
}

#move, #eat {
    height: 20px;
    width: 20px;
    background-color: #eee;
}

canvas {
    margin: 0;
    padding: 0;
    border: solid 1px black;
    display: block;
}
