.slider .slider-button-prev,
.slider .slider-button-next {
    background: rgba(0,0,0,0);
    transition:0.5s;
}
.slider .slider-button-prev:before,
.slider .slider-button-next:before {
    content: '\f104';
    opacity: 0.3;
    font-family: 'FontAwesome';
    transition: 0.5s opacity
}
.slider .slider-button-next:before {
    content: '\f105';
}
.slider .slider-button-prev:hover,
.slider .slider-button-next:hover {
    background: rgba(0,0,0,0.3);
}
.slider .slider-button-prev:hover:before,
.slider .slider-button-next:hover:before{
    opacity: 1;
}

.slider.slider {
    background: #333;
}
.slider.slider .slider-slide:nth-child(1) {
    background: url(https://drive.google.com/uc?export=view&id=1kpmo364jZ9gOIifuCz_Q1HFsFqqXyj7P);
    background-size: contain;
    background-position: center center;
}
.slider.slider .slider-slide:nth-child(2) {
    background: url(https://drive.google.com/uc?export=view&id=1TCSrfwqGKK5_krdFMoljwCG5r1uzaI_E);
    background-size: contain;
    background-position: center center;
}
.slider.slider .slider-slide:nth-child(3) {
    background:
        url(https://drive.google.com/uc?export=view&id=1FmGG3WaZBpNRclJvxnBLrS3TWvqlAKQo);
        background-size: contain;
        background-position: center center;
}

.slider.slider .slider-slide:nth-child(4) {
    background:
    url(https://drive.google.com/uc?export=view&id=1ygcEANE7HBJD48Vmcma5N6gjgxrBRsLy);
    background-size: contain;
    background-position: center center;
}

.slider.slider .slider-slide:nth-child(5) {
    background:
    url(https://drive.google.com/uc?export=view&id=1355SDWRc_1iiN2casH4zGn2p4nQbkQrL);
    background-size: contain;
    background-position: center center;
}

.slider.slider .slider-slide:nth-child(6) {
    background:
    url(https://drive.google.com/uc?export=view&id=1grG6onK0G8GAWFOKt4O6zPzrNyUit35t);
    background-size: contain;
    background-position: center center;
}

.slider.slider .slider-slide:nth-child(7) {
    background:
    url(https://drive.google.com/uc?export=view&id=12q3f81O7UiRhbhhLkbHMZYYm3cuMKoZa);
    background-size: contain;
    background-position: center center;
}

.slider {
    display: flex;
    position: relative;
    background: #eee;
    background-size: contain;
    background-position: center center;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr;
    height: 700px;
}
.slider-slides-cnt {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.slider-slide {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    z-index: 0;
}
.slider-slide-active {
    opacity: 1;
    z-index: 1;
}

.slider-slide {
    opacity: 0;
    transition: 2s all;
}
.slider-slide-active {
    opacity: 1;
}

.slider-nav {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr;
}
.slider-button-prev,
.slider-button-next {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    cursor: pointer;
    z-index: 2;
    background: rgba(0,0,0,0.1);
    border:0;
    text-indent:-999px;
    overflow:hidden;
    position: relative;
    z-index: 1;
}
.slider-button-next {
    grid-column: -1 / -2;
}
.slider-button-prev:focus,
.slider-button-next:focus {
    outline: none;
}
.slider-button-prev:before,
.slider-button-next:before {
    content:'<';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    font-size:2rem;
    color:#fff;
    text-indent: 0;
}
.slider-button-next:before {
    content: '>';
}

.slider-pagination {
    z-index: 2;
    position: absolute;
    left:0;
    bottom:1rem;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    justify-content: center;
    list-style:none;
}

.slider-pagination-button {
    background: transparent;
    width:2rem;
    height:2rem;
    border:0;
    text-indent:-999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.slider-pagination-button:before {
    content:'';
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background: transparent;
    width:0.9rem;
    height:0.9rem;
    border-radius: 50%;
    transition:0.5s all;
    box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
}
.slider-pagination-element-active .slider-pagination-button:before {
    background: #fff;
    transform:translate(-50%, -50%) scale(1.2);
}
.slider-pagination-button:focus {
    outline: none;
}
